
<div class="login-box">
    <h1 style="color:rgb(0, 0, 0); text-align:center;">Sign in</h1>
<form action="/users/create-session" method="POST" class="container">
    <div class="user-box">
    <input type="email" name="email" placeholder="Enter your email" required 
    style="border:1px solid rgb(88, 41, 243); 
    background-color:rgb(228, 237, 252); 
    color:black;
    border-radius:5px;
    text-align:center;"
    >
    </div>
    <div class="user-box">
    <input type="password" name="password" placeholder="Enter your password" required
    style="border:1px solid rgb(88, 41, 243); 
    background-color:rgb(228, 237, 252); 
    color:black;
    border-radius:5px;
    text-align:center;"
    >
</div><center>
    <input type="submit" value="Sign In">
    <span></span>
</center>
</form>
</div>